/* src/styles/tokens.css */
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/MontserratAlternates-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/MontserratAlternates-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Rialto Script';
  src: url('/fonts/rialtoscript-regular.ttf');
  font-weight: 400;
  font-display: swap;
}
